<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="opsi != '1'">
            Edit Observasi - {{ param.lokasi_tempat }}
        </ion-title>
        <ion-title *ngIf="opsi == '1'">
            Detail Observasi
            <span *ngIf="param.processApl==100" class="label label-info">{{ param.processApl_desc }}</span>
            <span *ngIf="param.processApl==110" class="label label-success">{{ param.processApl_desc }}</span>
            <span *ngIf="param.processApl==200" class="label label-primary">{{ param.processApl_desc }}</span>
            <span *ngIf="param.processApl==300" class="label label-primary">{{ param.processApl_desc }}</span>
            <span *ngIf="param.processApl==310" class="label label-danger">{{ param.processApl_desc }}</span>
            <span *ngIf="param.processApl==320" class="label label-dark">{{ param.processApl_desc }}</span>
            <span *ngIf="param.processApl==400" class="label label-primary">{{ param.processApl_desc }}</span>
            <span *ngIf="param.processApl==900" class="label label-warning">{{ param.processApl_desc }}</span> - {{ param.lokasi_tempat }}
        </ion-title>

    </ion-toolbar>
</ion-header>


<ion-content>


    <ion-card *ngIf="param.FilePhoto != '-,-,-'">
        <ion-slides pager="true">
            <ion-slide *ngFor="let img of slideimg">
                <img *ngIf="img != '-'" src="http://35.222.54.40/peka_midleware_sqlsrv/public/uploads/{{img}}">
            </ion-slide>
        </ion-slides>
    </ion-card>

    <ion-card>

        <ion-item>
            <ion-label>Ganti Foto</ion-label>
            <ion-toggle [(ngModel)]="updateFoto"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="updateFoto">
            <ion-button fill="outline" fill="clear" expand="full" color="primary" (click)="selectImage()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Upload Foto
            </ion-button>
        </ion-item>



        <ion-list *ngIf="updateFoto">
            <ion-item *ngFor="let img of images; index as pos" text-wrap>
                <ion-thumbnail slot="start">
                    <ion-img [src]="img.path"></ion-img>
                </ion-thumbnail>
                <ion-label>
                    {{ img.name }}
                </ion-label>
                <ion-button fill="outline" slot="end" fill="clear" (click)="deleteImage(img, pos)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>




            </ion-item>
        </ion-list>


    </ion-card>

    <ion-card>

        <ion-item>
            <ion-label>Area</ion-label>


            <span *ngIf="opsi == '1'">
                <ion-list *ngFor="let item of area">
                    <ion-list-header *ngIf="item.KlasifikasiID == param.IDklasifikasi"> {{ item.KlasifikasiName }} </ion-list-header>
                </ion-list>
            </span>


            <ion-select *ngIf="opsi != '1'" placeholder="Isi Pilih Area" #input [(ngModel)]="param.IDklasifikasi" (ngModelChange)="listSubArea($event)" required>
                <ion-select-option *ngFor="let item of area" value="{{ item.KlasifikasiID }}">
                    {{ item.KlasifikasiName }}
                </ion-select-option>
            </ion-select>

        </ion-item>

        <ion-item>
            <ion-label>Subarea</ion-label>


            <span *ngIf="opsi == '1'">
                <ion-list *ngFor="let item of subarea">
                    <ion-list-header *ngIf="item.AreaID == param.AreaID"> {{ item.AreaName }} </ion-list-header>
                </ion-list>
            </span>


            <ion-select *ngIf="opsi != '1'" placeholder="Isi Pilih Sub Area" #input [(ngModel)]="param.AreaID">
                <ion-select-option *ngFor="let item of subarea" value="{{ item.AreaID}}">
                    {{ item.AreaName }}
                </ion-select-option>
            </ion-select>

        </ion-item>

        <ion-item>
            <ion-label>Lokasi</ion-label>
            <ion-input *ngIf="opsi != '1'" color="primary" placeholder="Isi Lokasi" #input [(ngModel)]="param.spesifikasi" required></ion-input>

            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Lokasi" #input [(ngModel)]="param.spesifikasi" required></ion-input>

        </ion-item>

        <ion-item>
            <ion-label>Tanggal Pengamatan</ion-label>
            <ion-datetime *ngIf="opsi == '1'" readonly displayFormat="MM DD YY" #input [(ngModel)]="param.DateObs" placeholder="Isi Tanggal Pengamatan"></ion-datetime>
            <ion-datetime *ngIf="opsi != '1'" displayFormat="MM DD YY" #input [(ngModel)]="param.DateObs" placeholder="Isi Tanggal Pengamatan"></ion-datetime>
        </ion-item>


        <ion-item>
            <ion-label position="floating">Pengamatan</ion-label>
            <ion-textarea rows="4" *ngIf="opsi != '1'" color="primary" placeholder="Isi Pengamatan" #input [(ngModel)]="param.Pengamatan"></ion-textarea>
            <ion-textarea rows="4" *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Pengamatan" #input [(ngModel)]="param.Pengamatan"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Tindakan Langsung</ion-label>
            <ion-textarea rows="4" *ngIf="opsi != '1'" color="primary" placeholder="Isi Tindakan Langsung" #input [(ngModel)]="param.langsung"></ion-textarea>
            <ion-textarea rows="4" *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Tindakan Langsung" #input [(ngModel)]="param.langsung"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Saran Perbaikan</ion-label>
            <ion-textarea rows="4" *ngIf="opsi != '1'" color="primary" placeholder="Isi Saran Perbaikan" #input [(ngModel)]="param.Lanjutan"></ion-textarea>
            <ion-textarea rows="4" *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Saran Perbaikan" #input [(ngModel)]="param.Lanjutan"></ion-textarea>
        </ion-item>

    </ion-card>

    <ion-card>
        <ion-list>

            <ion-radio-group *ngIf="opsi == '1'" #input [(ngModel)]="param.UnsafeID" (ngModelChange)="listUnsafeDetail($event)">
                <ion-list-header>
                    <ion-label>Jenis Unsafe </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of unsafe">
                    <ion-label> {{ item.UnsafeName }} </ion-label>
                    <ion-radio *ngIf="item.UnsafeID == param.UnsafeID" slot="start" color="primary" value="{{ item.UnsafeID }}"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-radio-group *ngIf="opsi != '1'" #input [(ngModel)]="param.UnsafeID" (ngModelChange)="listUnsafeDetail($event)">
                <ion-list-header>
                    <ion-label>Jenis Unsafe </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of unsafe">
                    <ion-label> {{ item.UnsafeName }} </ion-label>
                    <ion-radio slot="start" color="primary" value="{{ item.UnsafeID }}"></ion-radio>
                </ion-item>
            </ion-radio-group>

        </ion-list>


        <ion-list>
            <ion-grid>
                <ion-row *ngFor="let item of unsafedetail | keyvalue;let i=index">
                    <ion-col>
                        <div>
                            <ion-header> {{ item.key }} </ion-header>
                        </div>
                        <div>
                            <ion-item *ngFor="let item2 of item.value;let j=index;">
                                <ion-label> {{ item2.UnsDetName }} </ion-label>

                                <ion-checkbox *ngIf="opsi == '1'" readonly [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>

                                <ion-checkbox *ngIf="opsi != '1'" [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>

                            </ion-item>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-list>


    </ion-card>

    <ion-card>

        <ion-item>
            <ion-radio-group *ngIf="opsi == '1'" [(ngModel)]="jenisPekerja">
                <ion-item>
                    <ion-label>Pekerja</ion-label>
                    <ion-radio readonly slot="start" value="pekerja"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Non Pekerja</ion-label>
                    <ion-radio readonly slot="start" value="non"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-radio-group *ngIf="opsi != '1'" [(ngModel)]="jenisPekerja">
                <ion-item>
                    <ion-label>Pekerja</ion-label>
                    <ion-radio slot="start" value="pekerja"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Non Pekerja</ion-label>
                    <ion-radio slot="start" value="non"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-item>


        <ion-item *ngIf="jenisPekerja=='pekerja'">
            <ion-label>Nama </ion-label>

            <ion-select *ngIf="opsi == '1'" readonly placeholder="Isi Pilih Pekerja" [(ngModel)]="param.NamaEmploye" (ngModelChange)="comboEmploye($event)">
                <ion-select-option *ngFor="let item of pegawai" value="{{ item.Nama }}">
                    {{ item.Nama }}
                </ion-select-option>
            </ion-select>
            <ion-select *ngIf="opsi != '1'" placeholder="Isi Pilih Pekerja" [(ngModel)]="param.NamaEmploye" (ngModelChange)="comboEmploye($event)">
                <ion-select-option *ngFor="let item of pegawai" value="{{ item.Nama }}">
                    {{ item.Nama }}
                </ion-select-option>
            </ion-select>

        </ion-item>

        <ion-item *ngIf="jenisPekerja=='non'">
            <ion-label>Nama</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Masukan Nama" #input [(ngModel)]="param.NamaEmploye"></ion-input>
            <ion-input *ngIf="opsi != '1'" color="primary" placeholder="Isi Masukan Nama" #input [(ngModel)]="param.NamaEmploye"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Jabatan</ion-label>
            <ion-input *ngIf="opsi != '1'" color="primary" placeholder="Isi Jabatan" #input [(ngModel)]="param.jabatan"></ion-input>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Jabatan" #input [(ngModel)]="param.jabatan"></ion-input>
        </ion-item>


    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label>Cos Center</ion-label>
            <ion-select *ngIf="opsi == '1'" readonly placeholder="Isi Pilih Cost Center" #input [(ngModel)]="param.CostCenter">
                <ion-select-option *ngFor="let item of CostCenter" value="{{ item.CostCenter }}">
                    {{ item.CCName }}
                </ion-select-option>
            </ion-select>
            <ion-select *ngIf="opsi != '1'" placeholder="Isi Pilih Cost Center" #input [(ngModel)]="param.CostCenter">
                <ion-select-option *ngFor="let item of CostCenter" value="{{ item.CostCenter }}">
                    {{ item.CCName }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly minlength="6" maxlength="255" color="primary" placeholder="Isi Email" #input [(ngModel)]="param.Email"></ion-input>
            <ion-input *ngIf="opsi != '1'" minlength="6" maxlength="255" color="primary" placeholder="Isi Email" #input [(ngModel)]="param.Email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Nomor Handphone</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly minlength="6" maxlength="20" type="number" color="primary" placeholder="Isi Nomor Handphone" #input [(ngModel)]="param.NoTlp"></ion-input>
            <ion-input *ngIf="opsi != '1'" minlength="6" maxlength="20" type="number" color="primary" placeholder="Isi Nomor Handphone" #input [(ngModel)]="param.NoTlp"></ion-input>
        </ion-item>


    </ion-card>

    <ion-card>



    </ion-card>

</ion-content>

<ion-toolbar>
    <ion-buttons collapse="true">
        <ion-item *ngIf="opsi != '1'">
            <ion-button fill="outline" slot="start" (click)="cancel()" color="danger">
                <ion-icon name="arrow-round-back"></ion-icon>

            </ion-button>
            <ion-button fill="outline" slot="start" (click)="simpan(100)" color="warning">
                <ion-icon slot="start" name="save"></ion-icon>
                SIMPAN
            </ion-button>
            <ion-button fill="outline" slot="start" (click)="simpan(110)" color="success">
                <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                SUBMIT
            </ion-button>
        </ion-item>

        <ion-item *ngIf="opsi == '1'">
            <ion-button fill="outline" slot="start" [routerLink]="['/home']" color="danger">
                <ion-icon name="arrow-round-back"></ion-icon>

            </ion-button>
            <ion-button fill="outline" (click)="global.gotoById('/hapus-obs',param.IDobservasion)" slot="start" color="danger" *ngIf="param.processApl==100">
                <ion-icon name="trash"></ion-icon>
                HAPUS
            </ion-button>

            <ion-button fill="outline" (click)="global.gotoById('/edit-obs',param.IDobservasion)" slot="start" color="warning" *ngIf="param.processApl==100">
                <ion-icon name="create"></ion-icon>
                EDIT
            </ion-button>
            <ion-button fill="outline" (click)="global.gotoById('/set-pic-obs',param.IDobservasion)" slot="end" color="primary" *ngIf="userData.OlahID == 1 && param.processApl!=100">
                <ion-icon name="paper-plane"></ion-icon>
                Set PIC
            </ion-button>
            <ion-button fill="outline" (click)="global.gotoById('/pic-tl-obs',param.IDobservasion)" slot="start" color="primary" *ngIf="userData.PICID == 1 && param.processApl==200">
                <ion-icon name="paper-plane"></ion-icon>
                Tindak Lanjut PIC
            </ion-button>
        </ion-item>
    </ion-buttons>


</ion-toolbar>