<ion-toolbar color="primary">
    <ion-title>
        PEKA APPS
    </ion-title>
</ion-toolbar>

<ion-content>
    <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/img/pertamina.png">
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <ion-item>
                        <ion-label fixed color="primary">Username &nbsp;&nbsp; </ion-label>
                        <ion-input #input [(ngModel)]="user.UserName" placeholder="Masukan Username"></ion-input>
                    </ion-item>
                </div>
                <div class="col-lg-12">
                    <ion-item>
                        <ion-label fixed color="primary">Password &nbsp;&nbsp; </ion-label>
                        <ion-input #input type="password" [(ngModel)]="user.Password" placeholder="Masukan Password"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label for="checkbox" *ngIf="!passwordCheckbox">show password</ion-label>
                        <ion-label for="checkbox" *ngIf="passwordCheckbox">hide password</ion-label>
                        <ion-checkbox class="marginTop" id="checkbox" style="border-style: none;" [(ngModel)]="passwordCheckbox" (click)="showPassword(input)"></ion-checkbox>
                    </ion-item>
                </div>

                <div class="col-lg-12 text-center">
                    <br/>
                </div>
                <div class="col-lg-12 text-center">
                    <ion-button (click)="prosesLogin()">
                        L O G I N
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>