<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Review TL | Observasi - {{ param.lokasi_tempat }}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-item>
            <ion-label>Area</ion-label>
            <ion-select placeholder="Isi Pilih Area" #input [(ngModel)]="param.IDklasifikasi" (ngModelChange)="listSubArea($event)" required>
                <ion-select-option *ngFor="let item of area" value="{{ item.KlasifikasiID }}">
                    {{ item.KlasifikasiName }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Subarea</ion-label>
            <ion-select placeholder="Isi Pilih Sub Area" #input [(ngModel)]="param.AreaID">
                <ion-select-option *ngFor="let item of subarea" value="{{ item.AreaID}}">
                    {{ item.AreaName }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Lokasi</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Lokasi" #input [(ngModel)]="param.spesifikasi" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Tanggal Pengamatan</ion-label>
            <ion-datetime displayFormat="MM DD YY" #input [(ngModel)]="param.DateObs" placeholder="Isi Tanggal Pengamatan"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Pengamatan</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Pengamatan" #input [(ngModel)]="param.Pengamatan"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Tindakan Langsung</ion-label>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Tindakan Langsung" #input [(ngModel)]="param.langsung"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Saran Perbaikan</ion-label>
            <ion-input *ngIf="opsi != '1'" color="primary" placeholder="Isi Saran Perbaikan" #input [(ngModel)]="param.Lanjutan"></ion-input>
            <ion-input *ngIf="opsi == '1'" readonly color="primary" placeholder="Isi Saran Perbaikan" #input [(ngModel)]="param.Lanjutan"></ion-input>
        </ion-item>

    </ion-card>
    <ion-card>
        <ion-list>

            <ion-radio-group *ngIf="opsi == '1'" #input [(ngModel)]="param.UnsafeID" (ngModelChange)="listUnsafeDetail($event)">
                <ion-list-header>
                    <ion-label>Jenis Unsafe </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of unsafe">
                    <ion-label> {{ item.UnsafeName }} </ion-label>
                    <ion-radio *ngIf="item.UnsafeID == param.UnsafeID" slot="start" color="primary" value="{{ item.UnsafeID }}"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <ion-radio-group *ngIf="opsi != '1'" #input [(ngModel)]="param.UnsafeID" (ngModelChange)="listUnsafeDetail($event)">
                <ion-list-header>
                    <ion-label>Jenis Unsafe </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of unsafe">
                    <ion-label> {{ item.UnsafeName }} </ion-label>
                    <ion-radio slot="start" color="primary" value="{{ item.UnsafeID }}"></ion-radio>
                </ion-item>
            </ion-radio-group>

        </ion-list>


        <ion-list>
            <ion-grid>
                <ion-row *ngFor="let item of unsafedetail | keyvalue;let i=index">
                    <ion-col>
                        <div>
                            <ion-header> {{ item.key }} </ion-header>
                        </div>
                        <div>
                            <ion-item *ngFor="let item2 of item.value;let j=index;">
                                <ion-label> {{ item2.UnsDetName }} </ion-label>

                                <ion-checkbox [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>


                            </ion-item>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-list>


    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label>PIC</ion-label>
            <ion-select readonly placeholder="" #input [(ngModel)]="param.CostCenter">
                <ion-select-option *ngFor="let item of CostCenter" value="{{ item.CostCenter }}">
                    {{ item.CCName }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <div>


            <ion-item>
                <ion-label position="floating">Informasi Kepada PIC</ion-label>
                <ion-textarea readonly rows="4" color="primary" placeholder="Isi Informasi" #input [(ngModel)]="param.PICInformasi" required></ion-textarea>

            </ion-item>

            <ion-item>
                <ion-label>Batas Akhir Tindak Lanjut</ion-label>
                <ion-datetime readonly displayFormat="MM DD YY" #input [(ngModel)]="param.BypassDate" placeholder="Isi Tanggal Pengamatan"></ion-datetime>
            </ion-item>
        </div>
    </ion-card>


    <ion-card>
        <ion-item>
            <ion-label position="floating">Progress Tindak Lanjut</ion-label>
            <ion-textarea readonly rows="4" color="primary" placeholder="" #input [(ngModel)]="param.AksiComment"></ion-textarea>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label position="floating">Komentar Approval / Reason Reject</ion-label>
            <ion-textarea rows="4" [(ngModel)]="param.RejectReason"></ion-textarea>
        </ion-item>
    </ion-card>


</ion-content>


<ion-toolbar>
    <ion-buttons collapse="true">
        <ion-button fill="outline" slot="start" (click)="cancel()" color="danger">
            <ion-icon name="arrow-round-back"></ion-icon>

        </ion-button>
        <ion-button fill="outline" slot="start" (click)="simpan(200)" color="danger">
            <ion-icon name="close-circle-outline"></ion-icon>
            REJECT
        </ion-button>
        <ion-button fill="outline" slot="start" (click)="simpan(400)" color="success">
            <ion-icon name="checkbox-outline"></ion-icon>
            APPROVED
        </ion-button>
    </ion-buttons>


</ion-toolbar>