<head>
    <style>
         :root {
            --ion-safe-area-top: 20px;
            --ion-safe-area-bottom: 22px;
        }
        
        ion-segment {
            padding: 5px;
        }
    </style>
</head>
<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>PEKA - APP</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>{{ userData.Nama }}</ion-card-subtitle>
                            <ion-card-title>
                                <ion-icon name="contact"></ion-icon> {{ userData.Email }} </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                        </ion-card-content>
                    </ion-card>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>

    <head>
        <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/css/ionic.bundle.css" />
        <style>
             :root {
                --ion-safe-area-top: 20px;
                --ion-safe-area-bottom: 22px;
            }
        </style>
    </head>
</ion-app>