<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Tambah Observasi
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-item>
            <ion-label>Area</ion-label>
            <ion-select placeholder="Isi Pilih Area" #input [(ngModel)]="param.IDklasifikasi" (ngModelChange)="listSubArea($event)" required>
                <ion-select-option *ngFor="let item of area" value="{{ item.KlasifikasiID }}">
                    {{ item.KlasifikasiName }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Subarea</ion-label>
            <ion-select placeholder="Isi Pilih Sub Area" #input [(ngModel)]="param.AreaID">
                <ion-select-option *ngFor="let item of subarea" value="{{ item.AreaID}}">
                    {{ item.AreaName }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Lokasi</ion-label>
            <ion-input color="primary" placeholder="Isi Lokasi" #input [(ngModel)]="param.spesifikasi" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Tanggal Pengamatan</ion-label>
            <ion-datetime displayFormat="MM DD YY" #input [(ngModel)]="param.DateObs" placeholder="Isi Tanggal Pengamatan"></ion-datetime>
        </ion-item>


        <ion-item>
            <ion-label position="floating">Pengamatan</ion-label>
            <ion-textarea rows="4" color="primary" placeholder="Isi Pengamatan" #input [(ngModel)]="param.Pengamatan"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Tindakan Langsung</ion-label>
            <ion-textarea rows="4" color="primary" placeholder="Isi Tindakan Langsung" #input [(ngModel)]="param.langsung"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Saran Perbaikan</ion-label>
            <ion-textarea rows="4" color="primary" placeholder="Isi Saran Perbaikan" #input [(ngModel)]="param.Lanjutan"></ion-textarea>
        </ion-item>

    </ion-card>

    <ion-card>
        <ion-list>
            <ion-radio-group #input [(ngModel)]="param.UnsafeID" (ngModelChange)="listUnsafeDetail($event)">
                <ion-list-header>
                    <ion-label>Jenis Unsafe </ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of unsafe">
                    <ion-label> {{ item.UnsafeName }} </ion-label>
                    <ion-radio slot="start" color="primary" value="{{ item.UnsafeID }}"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>


        <ion-list>
            <ion-grid>
                <ion-row *ngFor="let item of unsafedetail | keyvalue;let i=index">
                    <ion-col>
                        <div>
                            <ion-header> {{ item.key }} </ion-header>
                        </div>
                        <div>
                            <ion-item *ngFor="let item2 of item.value;let j=index;">
                                <ion-label> {{ item2.UnsDetName }} </ion-label>
                                <ion-checkbox [(ngModel)]="unsafeDetailC[item2.UnsDetail]" color="primary" value="{{ item2.UnsDetail }}"></ion-checkbox>
                            </ion-item>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-list>


    </ion-card>

    <ion-card>

        <ion-item>
            <ion-radio-group [(ngModel)]="jenisPekerja">
                <ion-item>
                    <ion-label>Pekerja</ion-label>
                    <ion-radio slot="start" value="pekerja"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Non Pekerja</ion-label>
                    <ion-radio slot="start" value="non"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-item>


        <ion-item *ngIf="jenisPekerja=='pekerja'">
            <ion-label>Nama </ion-label>
            <ion-select placeholder="Isi Pilih Pekerja" [(ngModel)]="param.NamaEmploye" (ngModelChange)="comboEmploye($event)">
                <ion-select-option *ngFor="let item of pegawai" value="{{ item.Nama }}">
                    {{ item.Nama }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="jenisPekerja=='non'">
            <ion-label>Nama</ion-label>
            <ion-input color="primary" placeholder="Isi Masukan Nama" #input [(ngModel)]="param.NamaEmploye"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Jabatan</ion-label>
            <ion-input color="primary" placeholder="Isi Jabatan" #input [(ngModel)]="param.jabatan"></ion-input>
        </ion-item>



    </ion-card>

    <ion-card>
        <ion-item>
            <ion-label>Cos Center</ion-label>
            <ion-select placeholder="Isi Pilih Cost Center" #input [(ngModel)]="param.CostCenter">
                <ion-select-option *ngFor="let item of CostCenter" value="{{ item.CostCenter }}">
                    {{ item.CCName }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input minlength="6" maxlength="255" color="primary" placeholder="Isi Email" #input [(ngModel)]="param.Email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Nomor Handphone</ion-label>
            <ion-input minlength="6" maxlength="20" type="number" color="primary" placeholder="Isi Nomor Handphone" #input [(ngModel)]="param.NoTlp"></ion-input>
        </ion-item>


        <ion-item>


            <ion-button fill="outline" fill="clear" expand="full" color="primary" (click)="selectImage()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Upload Foto
            </ion-button>
        </ion-item>



        <ion-list>
            <ion-item *ngFor="let img of images; index as pos" text-wrap>
                <ion-thumbnail slot="start">
                    <ion-img [src]="img.path"></ion-img>
                </ion-thumbnail>
                <ion-label>
                    {{ img.name }}
                </ion-label>
                <ion-button fill="outline" slot="end" fill="clear" (click)="deleteImage(img, pos)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>




            </ion-item>
        </ion-list>

    </ion-card>


</ion-content>


<ion-toolbar>
    <ion-buttons collapse="true">

        <ion-button fill="outline" slot="start" fill="outline" (click)="cancel()" color="danger">
            <ion-icon name="arrow-round-back"></ion-icon>

        </ion-button>
        <ion-button fill="outline" slot="start" fill="outline" (click)="simpan(100)" color="primary">
            <ion-icon slot="start" name="save"></ion-icon>
            SIMPAN
        </ion-button>
        <ion-button fill="outline" slot="start" fill="outline" (click)="simpan(110)" color="success">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            SUBMIT
        </ion-button>
    </ion-buttons>

</ion-toolbar>