<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="end">

            <h3>
                LIST OBSERVASI
                <ion-icon (click)="getObs(userData.UserName,segment,userData.CostCenter)" name="refresh"></ion-icon>
            </h3>

        </ion-title>




    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-segment [(ngModel)]="segment" scrollable (ionChange)="segmentChanged($event)">
        <ion-segment-button value="0">
            <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="100">
            <ion-label>Created</ion-label>
        </ion-segment-button>
        <ion-segment-button value="110">
            <ion-label>Submited</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngIf="userData.OlahID == 1 || userData.OlahID == 1" value="200">
            <ion-label>Assigned PIC</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngIf="userData.OlahID == 1" value="300">
            <ion-label>Submited Action PIC</ion-label>
        </ion-segment-button>
    </ion-segment>



    <ion-card *ngFor="let item of obs">
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>{{ item.lokasi_tempat }}</ion-label>
            <ion-item slot="end">

                <ion-button fill="outline" (click)="global.gotoByTwo('/edit-obs',item.IDobservasion,1)">
                    <ion-icon name="menu"></ion-icon>
                    Detail</ion-button>
            </ion-item>
        </ion-item>

        <ion-card-content>

            <ion-item>
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label>Tgl Pengamatan</ion-label>
                <h3>{{ item.DateObs | date }}</h3>
            </ion-item>
            <ion-item>
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-label>Tgl Pelaporan</ion-label>
                <h3> {{ item.AksiDate | date }} </h3>
            </ion-item>
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>Pelapor</ion-label>
                <h3> {{ item.NamaEmploye }} </h3>
            </ion-item>
            <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>PIC Email : {{ item.PICEmail }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="contrast" slot="start"></ion-icon>
                <ion-label>Status</ion-label>

                <h3 *ngIf="item.processApl==100" class="label label-info">{{ item.processApl_desc }}</h3>
                <h3 *ngIf="item.processApl==110" class="label label-success">{{ item.processApl_desc }}</h3>
                <h3 *ngIf="item.processApl==200" class="label label-primary">{{ item.processApl_desc }}</h3>
                <h3 *ngIf="item.processApl==300" class="label label-primary">{{ item.processApl_desc }}</h3>
                <h3 *ngIf="item.processApl==310" class="label label-danger">{{ item.processApl_desc }}</h3>
                <h3 *ngIf="item.processApl==320" class="label label-dark">{{ item.processApl_desc }}</h3>
                <h3 *ngIf="item.processApl==400" class="label label-primary">{{ item.processApl_desc }}</h3>
                <h3 *ngIf="item.processApl==900" class="label label-warning">{{ item.processApl_desc }}</h3>


            </ion-item>


        </ion-card-content>
        <ion-card-subtitle>
            <ion-item>
                <ion-button (click)="global.gotoById('/hapus-obs',item.IDobservasion)" slot="start" color="danger" *ngIf="item.processApl==100">
                    <ion-icon name="trash"></ion-icon>
                    Hapus
                </ion-button>

                <ion-button (click)="global.gotoById('/edit-obs',item.IDobservasion)" slot="start" color="warning" *ngIf="item.processApl==100">
                    <ion-icon name="create"></ion-icon>
                    Edit
                </ion-button>
                <ion-button (click)="global.gotoById('/set-pic-obs',item.IDobservasion)" slot="start" color="primary" *ngIf="userData.OlahID == 1 && item.processApl==110">
                    <ion-icon name="paper-plane"></ion-icon>
                    Set PIC
                </ion-button>
                <ion-button (click)="global.gotoById('/tindak-lanjut-pic',item.IDobservasion)" slot="start" color="primary" *ngIf="userData.PICID == 1 && item.processApl==200">
                    <ion-icon name="paper-plane"></ion-icon>
                    Tindak Lanjut
                </ion-button>

                <ion-button (click)="global.gotoById('/review-tl',item.IDobservasion)" slot="start" color="warning" *ngIf="userData.OlahID == 1 && item.processApl==300">
                    <ion-icon name="paper-plane"></ion-icon>
                    Review TL PIC
                </ion-button>

                <ion-button (click)="global.gotoById('/tindak-lanjut-pic',item.IDobservasion)" slot="start" color="primary" *ngIf="userData.PICID == 1 && item.processApl==310">
                    <ion-icon name="paper-plane"></ion-icon>
                    Update Tindak Lanjut
                </ion-button>
            </ion-item>
        </ion-card-subtitle>
    </ion-card>




    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/tambah-obs">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>